In [16]:
import pandas as pd

In [17]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')
print(movies.columns)
print(credits.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')
Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [18]:
df = movies.merge(credits, on = 'title')
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
popular_movies = df[df['vote_count'] >=5000].sort_values(by='vote_average',ascending=False)[['id','title','vote_average','vote_count','runtime','release_date']][:15]

In [6]:
popular_movies.reset_index(drop=True, inplace=True)
popular_movies

,id,title,vote_average,vote_count,runtime,release_date
0,278,The Shawshank Redemption,8.5,8205,142.0,1994-09-23
1,238,The Godfather,8.4,5893,175.0,1972-03-14
2,680,Pulp Fiction,8.3,8428,154.0,1994-10-08
3,550,Fight Club,8.3,9413,139.0,1999-10-15
4,155,The Dark Knight,8.2,12002,152.0,2008-07-16
5,1891,The Empire Strikes Back,8.2,5879,124.0,1980-05-17
6,13,Forrest Gump,8.2,7927,142.0,1994-07-06
7,11,Star Wars,8.1,6624,121.0,1977-05-25
8,122,The Lord of the Rings: The Return of the King,8.1,8064,201.0,2003-12-01
9,807,Se7en,8.1,5765,127.0,1995-09-22
10,27205,Inception,8.1,13752,148.0,2010-07-14
11,157336,Interstellar,8.1,10867,169.0,2014-11-05
12,120,The Lord of the Rings: The Fellowship of the Ring,8.0,8705,178.0,2001-12-18
13,121,The Lord of the Rings: The Two Towers,8.0,7487,179.0,2002-12-18
14,150540,Inside Out,8.0,6560,94.0,2015-06-09

In [7]:
dates = popular_movies['release_date'].str.split('-')
years = []

for date in dates:
    years.append(date[0])
popular_movies['release_date']=years 
popular_movies

,id,title,vote_average,vote_count,runtime,release_date
0,278,The Shawshank Redemption,8.5,8205,142.0,1994
1,238,The Godfather,8.4,5893,175.0,1972
2,680,Pulp Fiction,8.3,8428,154.0,1994
3,550,Fight Club,8.3,9413,139.0,1999
4,155,The Dark Knight,8.2,12002,152.0,2008
5,1891,The Empire Strikes Back,8.2,5879,124.0,1980
6,13,Forrest Gump,8.2,7927,142.0,1994
7,11,Star Wars,8.1,6624,121.0,1977
8,122,The Lord of the Rings: The Return of the King,8.1,8064,201.0,2003
9,807,Se7en,8.1,5765,127.0,1995
10,27205,Inception,8.1,13752,148.0,2010
11,157336,Interstellar,8.1,10867,169.0,2014
12,120,The Lord of the Rings: The Fellowship of the Ring,8.0,8705,178.0,2001
13,121,The Lord of the Rings: The Two Towers,8.0,7487,179.0,2002
14,150540,Inside Out,8.0,6560,94.0,2015

In [8]:
# import requests
# ids = list(popular_movies['id'].values)
# images=[]
# for id in ids: 
#     response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key=47f5dabb1b608b91fe3ef3ad90ffef57&language=en-US'.format(id))
#     data = response.json()
#     images.append("https://image.tmdb.org/t/p/w500/" + data['poster_path'])

In [9]:
import pickle
pickle.dump(popular_movies,open('models/popular_movies.pkl','wb'))